.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #FCCD2A;
  padding: 10px 0;
  position: relative;
}

.scroll-text {
  display: flex;
  gap: 20px;
  animation: scroll-left 15s linear infinite;
}

.scroll-content {
  display: flex;
  gap: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #123524;
}

/* Animasi untuk scrolling otomatis */
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

